p {
    font-size: 50px;
    text-align: center;
}
/* scale(angka), scaleX(angka), scaleY(angka), rotate(deg), rotateX(deg), rotateY(deg), skew(deg), skewX(deg), skewY(deg), translate(px), translateX(px), translateY(px) */
.kotak {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 50px auto;

}

.kotak:hover {
    background-color: lightgreen;
    transform: translate(50px, 100px) rotate(30deg);
}