* {
    width: 300px;
    height: 200px;
    Padding: 30px;
    font-size: 30px;
    text-align: center;
    margin: 90px auto;
}

.satu {
    background-image: linear-gradient(cyan, 
    yellow);
}

.dua {
    background: linear-gradient(#feca80, #80d0fe, 
    #9e69b7);
}

.tiga {
    background: linear-gradient(to bottom right, 
    red 63%, 
    green 60%);
}