* {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
}
/* value sering muncul */
.satu {
    background-color: #c5e321;
    box-shadow: 5px 6px 8px 8px rgba(0,0,0,.5);
    transition: -3s;
}
/* inset */
.dua {
    background-color: #32a;
    box-shadow: inset 7px 12px 10px 15px rgba(0,0,0,.5);
}
/* spread */
.tiga {
    background-color: #0f676f;
    box-shadow: inset 7px 6px 8px 13px spread rgba(0,0,0,.5); 
}
/* multiple shadow */
.empat {
    box-shadow: 7px 6px 8px 13px rgba(255,0,0,.5), 0 0 0 rgba(0,0,255,.5);
}



